<?xml version="1.0" encoding="UTF-8" ?>
<mapper xmlns="http://mybatis.org/schema/mybatis-mapper">

    <select id="getAllEntities" resultType="Reminder">
        SELECT * FROM REMINDER;
    </select>

    <insert id="insertEntity" parameterType="Reminder">
        INSERT INTO REMINDER (UUID, CREATE_TIME, LAST_MODIFIED_TIME, CONTENT, DONE_TIME, IS_EMERGENCY,IS_IMPORTANT)
        VALUES (#{uuid}, #{createdTime}, #{lastModifiedTime}, #{content}, #{doneTime}, #{isEmergency}, #{isImportant});
    </insert>
</mapper>